BODY {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: ghostwhite;

}

.header {
    padding: 20px;
    text-align: center;
   /* background-color: gainsboro;*/
	background-image: url("numbers2.png");
	background-size: 325px 94px;
	background-repeat: repeat-x;
	padding-bottom: 5px;
}

h2 {
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: black;
    text-align: center;
	margin-top: 0px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: palatino, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.topnav a:hover{
    background-color: white;
    color: black;
}

.current {
	background-color: lightsteelblue;
}

.topnav a.current {
	color: white;
}

.topnav a.current:hover {
	background-color: lightsteelblue;
	color: white;
}


.results {
    border: 2px solid black;
    width: 95%;
    margin: auto;
    padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	height: 300px;
	overflow: scroll;
}

.resultsB {
    text-align: center;
}

.info {
    padding-left: 20px;
    padding-right: 20px;
}

* {
    box-sizing: border-box;
}

[class="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 33%;
        float: left;
        text-align: center;
    }

    .col-2 {
        width: 33%;
        float: left;
        text-align: center;
    }

    .col-3 {
        width: 33%;
        float: left;
        text-align: center;
    }
}
